/* Empty. Add your own CSS if you like */
.login-header
{
    width: 100%;
}
.title-container
{
    margin: 50px;
    color: white;
}
.title-container .title
{
    color: white;
}
.icon-container
{
   /*background-color: green;*/
}
.bar
{
     background-color: #01856e;
}
.navi-title
{
   color: white; 
   font-size: 25px;
}

 .item-text-center
{
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    align-items: center;
    position: absolute;
    top: 0;
    height: 100%;
}
.balanced{
    background-color: #01856e;
}
.custom-button-balanced{
    color: white;
    background-color: #01856e;
}