<ion-modal-view class="balanced">
  <ion-content>
    <div class="login-header">
    <div class="title-container">
        <h2 class="title text-center">Agile Collaboration</h>
    </div>

   <div class="icon-container text-center">
      <span class="avatar">
        <img src="https://uidesigner.accenture.com/resources/587dd0984f04827c50747aac/rocket_launch_128px_1205965_easyicon.net.png" ng-src="https://uidesigner.accenture.com/resources/587dd0984f04827c50747aac/rocket_launch_128px_1205965_easyicon.net.png">
      </span>
    </div>
    </div>
    <form ng-submit="doLogin()">
      <div class="list">
        <label class="item item-input">
          <span class="input-label">Username</span>
          <input type="text" ng-model="loginData.userNameOrEmail">
        </label>
        <label class="item item-input">
          <span class="input-label">Password</span>
          <input type="password" ng-model="loginData.password">
        </label>
        <label class="item">
          <button class="button button-block custom-button-balanced" type="submit">Login</button>
        </label>
      </div>
    </form>
  </ion-content>
</ion-modal-view>
