<ion-side-menus enable-menu-with-back-views="false">
  <ion-side-menu-content>
    <ion-nav-bar class="bar-stable">
      <ion-nav-back-button>
      </ion-nav-back-button>

      <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
        </button>
      </ion-nav-buttons>
    </ion-nav-bar>
    <ion-nav-view name="menuContent">
      Test
    </ion-nav-view>
  </ion-side-menu-content>

  <ion-side-menu side="left">
    <ion-header-bar class="bar-stable">
      <h1 class="title">Left</h1>
    </ion-header-bar>
    <ion-content>
      <div class="text-left animated ds-icon-container icon-solid" style="padding: 20px;">
				<i >
					<img src="https://uidesigner.accenture.com/resources/587dd0984f04827c50747aac/rocket_launch_128px_1205965_easyicon.net.png" ng-src="https://uidesigner.accenture.com/resources/587dd0984f04827c50747aac/rocket_launch_128px_1205965_easyicon.net.png"> 
       </i>
			</div>
      <div class="inline label-container flex-container" ng-show="label4.show !== false" ng-class="label4.css">
				<span>chaoran.wang</span>
			</div>
      <ion-list>
        <ion-item menu-close href="#/app/tickets">
          Dashboard
        </ion-item>
        <ion-item menu-close href="#/app/browse">
          My Projects
        </ion-item>
        <ion-item menu-close href="#/app/tickets/">
          New Tickets
        </ion-item>
         <ion-item menu-close href="#/app/tickets">
          In Progress Tickets
        </ion-item>
         <ion-item menu-close href="#/app/tickets">
          Defered Tickets
        </ion-item>
         <ion-item menu-close href="#/app/tickets">
          Pending Tickets
        </ion-item>
         <ion-item menu-close href="#/app/tickets">
          Completed Tickets
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>
