<ion-view>
<ion-nav-title>
    <span class="navi-title">Agile Collaboration</span>
</ion-nav-title>
  <ion-content>
    <ion-list>
        <ion-item ng-repeat="ticket in allTickets" href="#/app/tickets/{{ticket.Id}}">
         
          <div class="card">
          <div class="item item-divider bar bar-balanced  text-center">
            <span ng-bind-html="ticket.Name"></span>
          </div>
          <div class="item item-text-wrap text-center">
             <span ng-bind-html="ticket.Count"></span>
          </div>
        </div>
        </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
