<ion-view>
<ion-nav-title>
    <span class="navi-title">Ticket List</span>
</ion-nav-title>
  <ion-content>
     <ion-list>
        <ion-item ng-repeat="ticket in tickets" href="#/app/tickets/{{ticket.Id}}">
         
          <div class="card">
          <div class="item item-divider">
            {{ticket.Title}}
          </div>
          <div class="item item-text-wrap">
             Priority ：<span ng-bind-html="ticket.Priority" ></span><br>
             Status   ：<span ng-bind-html="ticket.Status" ></span><br>
             Description: <span ng-bind-html="ticket.Description" ></span>
          </div>
        </div>
        </ion-item>

       
    </ion-list>
  </ion-content>
</ion-view>
